<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"></style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/functions.js') }}"></script>
</head>
<body>

	<div id="mainContainer">
		<header>
			<h1>ALTRAN GARDEN GNOMES</h1>
		</header>
		<div id="contentContainer">
			Content
		</div>
		<footer>
			Footer
		</footer>
	</div>

</body>
</html>
