<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}"></style>
	<link rel="icon" href="/static/images/gnome_logo.png" type="image/x-icon" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/functions.js') }}"></script>
</head>
<body>

	<header>
		<img id="gnomeLogo" src="/static/images/gnome_logo.png"/>
		<table id="iconsTable">
			<tr>
				<td>
					<img src="/static/images/chilli.png"/>
				</td>
				<td>
					<img src="/static/images/gurka.png"/>
				</td>
				<td>
					<img src="/static/images/TOMAT.png"/>
				</td>
			</tr>
		</table>
		<h1>ALTRAN GARDEN GNOMES</h1>

	</header>
	<div id="contentContainer">
		<div class="contentBox">
			<table id="measurementTable">
				<thead>
					<th>
						Mätning
					</th>
					<th>
						Värde
					</th>

				</thead>
				<tbody>
				</tbody>
			</table>
		</div>


		<div class="contentBox">
			<div id="waterContainer">
				<img id="waterImage" />
			</div>
			<div id="controlContainer">
				<div class="control">
					<span class="controlLabel">Lampa</span>
					<img id="lampToggle" class="controlImg"  src="/static/images/light.png" />
				</div>

				<br/>

				<div class="control">
					<span class="controlLabel">Fläkt</span>
					<img id="fanToggle"  class="controlImg"  src="/static/images/fan.png" />
				</div>


				<br/>

				<div class="control">
					<span class="controlLabel">Vatten</span>
					<img id="waterToggle" class="controlImg" src="/static/images/water_in_pot.png" />
				</div>

				<br/>

				<div class="control">
					<span class="controlLabel">Kamera</span>
					<img id="cameraToggle" class="controlImg" src="/static/images/camera.png" />
				</div>
			</div>
		</div>

		<div class="imageBox">
			<iframe src="/images" frameBorder="0" height="100px"></iframe>
		</div>
	</div>
	<div class="footerGrass"></div>
	<footer>
		<img id="footerLogo" src="/static/images/pi-greenhouse.png" />
	</footer>

</body>
</html>
