

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  background-color: #f0f8ff;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#contentContainer{
  margin: 0 auto;
  padding-top: 64px;
  max-width: 800px;
  width: 94%;
}


.controlLabel{
  clear:both;
}

#measurementTable{
  width: 100%;
}
th {
  text-align: left;
}
td{
  padding: 5px;
}

.contentBox{
  background-color: #fff;
  padding: 25px;
  margin-right: 25px;
  float:left;
  width: 45%;
  border-radius: 35px;
}

.control{
  padding: 10px;
  float:right;
  width: 100%;
  text-align: right;
}

.control img {
  vertical-align: middle;
}

[state='active'] {
  border: 5px solid black;
  border-radius: 100px;
}

[state='auto'] {
  border: 5px dashed black;
  border-radius: 100px;
}


header {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid green;
}

header #gnomeLogo{
  float:left;
  max-width:120px;
  margin-right: 20px;
}

header h1 {
  font-size: 44px;
}

.controlImg{
  max-width: 70px;
}

header #iconsTable{
  float:right;
}

#waterImage{
  width:100%;
}
#waterLabel {
  padding-left: 20px;
  text-align:center;
}

#waterContainer {
  max-width: 120px;
  position:absolute;
  padding: 10px;
}

footer{
  position:absolute;
  padding: 20px;
  width: 100%;
  left:0;
  bottom:0;
  background-color: #795548;
}
.footerGrass{
  position:absolute;
  width: 100%;
  left:0;
  bottom: 60px;
  background: url('/static/images/grass.png');
  height: 60px;
}

iframe {
  margin-top: -75px;
  margin-bottom: 50px;
  border-radius:35px;
}

#footerLogo {
  float: right;
  max-width: 300px;
}
